.button{
-fx-background-color: "#E2B714";
-fx-font-family: "chiller";
-fx-font-size: 24px;
-fx-text-fill: "#534741";
}

.text{
-fx-font-family: "chiller";
}

.label{
-fx-font-family: "chiller";
-fx-color: "#DDDDDC";
-fx-font-size: 32px;
}

#background{
-fx-background-color: "#323437"
}

#secondary{
-fx-background-color: "#E2b714";
}